<div class="hero">
  <br />
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Unleash Potential</h1>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Learn</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Direct</h3>
    <br />
    <p>Enroll and participate at your own self-guided pace.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>
